node_modules/
.env
.env.*
!.env.example

# Logs
*.log
logs/

# Docker
docker-data/
*.pid

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform variable files
*.tfvars
*.tfvars.json

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json